/* #app{min-height: 100%;min-width: 100%;min-height: 100vh;min-width: 100vw;} */
.container{width:100%;max-width:1230px;margin: auto;padding: 0 15px;}
.bgbox{background: #fff;border:1px solid #eee;}
.el-main{padding:0;}
.headerTop_box{width:100%;background:none;padding:0;border-bottom: none;}
.headerTop_top{width:100%;padding:20px 30px;border-bottom: 1px solid #eaedf3;}
.logo{height: 21px;}
.logo img{height: 100%;}
.topHeader_set{font-size: 18px;font-weight: bold;color:#b1b3b7;cursor: pointer;}
.headerNav_box{width:100%;position:fixed;top:0;left:0;z-index:99;border-bottom: 1px solid #eaedf3;background:#fff;}
.headerNav_box .el-menu{border-bottom:none;background: none;}
.headerNav_box .el-menu-item,.headerNav_box .el-submenu{height: 70px;line-height: 70px;font-size:14px;color:#6b6c6f;}
.headerNav_box .is-active{border: none!important;}
/* .headerNav_box .is-active .item{color: #1665d8;} */
/* .headerNav_box .el-submenu__title{font-size:14px;color:#6b6c6f;} */
.headerNav_box .el-menu--horizontal>.el-submenu .el-submenu__title{height: 70px;line-height: 70px;padding: 0 15px;font-size:14px;color:#6b6c6f;border: none!important;}
.headerNav_box .el-menu--horizontal>.el-submenu .el-submenu__title .item{color: #6b6c6f;}
.headerNav_box .el-menu--horizontal>.el-submenu .el-submenu__title i{display: none;}
.headerNav_box .icon{height:12px;display: inline-block;margin-left:2px;}
.headerNav_box .icon img{height:100%;display: block;}
.headerNav_box .router-link-active{color: #1665d8!important;}
/* .headerNav_box .router-link-exact-active{color: #1665d8!important;} */
.headerNav_box .item{display: block;}
.itemNav{display: block;}

.el-dropdown-menu__item--divided:before, .el-menu, .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus, .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover, .el-menu--horizontal>.el-submenu .el-submenu__title:hover{background: none}

.navSet_box{margin: 0 15px;padding-top: 4px;}
.headerNav_searchTitl{color:#fff;font-size:12px;margin-bottom:5px;}
.headerNav_searchTitl .h3{}
.headerNav_searchTitl .ul li{margin-left:10px;}
.headerNav_searchTitl .ul li a{color:#fff;}

.headerTop_langBox{width: 100px;}
.headerTop_langBox .el-input__inner{width:90px;padding-right:0px;border:none;background:none;}

.navSet_box .el-dropdown-link{height:22px;cursor: pointer;}
.navSet_box .line{width: 18px;height: 3px;background:#5c5c5c;margin:3px 0;border-radius: 2px;}
.navSet_item .el-dropdown-menu__item{padding:0}
.navSet_item .homeNav{height: 48px;line-height: 48px;padding: 0 20px;}
.navSet_item .el-collapse-item{background: #fff;width:260px;}
.navSet_item .el-collapse-item:last-child .el-collapse-item__header{border-bottom: none;}
.navSet_item .el-collapse-item__header{padding: 0 20px;}
.navSet_item .el-collapse-item__content{padding: 0;}
.navSet_item .navSet_list{background: #F8F8F8;}
.navSet_item .navSet_list li{padding: 0 30px;height: 40px;line-height: 40px;border-bottom: 1px solid #eee;}

.headerNav_searchBg{margin-top: 15px;}
.headerNav_search{position: relative;}
.headerNav_searchCont{padding:10px 15px;background:linear-gradient(to bottom,#2677fe,#7e63ff);background:-webkit-linear-gradient(to bottom,#2677fe,#7e63ff);background:-o-linear-gradient(to bottom,#2677fe,#7e63ff);background:-moz-linear-gradient(to bottom,#2677fe,#7e63ff);border-radius: 5px;}
.headerNav_search .icon{width:40px;height: 38px;position: absolute;top:0;right:0;padding:8px;cursor: pointer;}
.headerNav_search .icon img{height: 100%;display: block;}
.headerNav_search .icon .el-icon-search{line-height: 100%;font-size: 18px;}
.headerNav_search .el-input{width:100%;height: 38px;border-left:none;}
.headerNav_search .el-input-group__prepend{background: none;}
.headerNav_searchCont .el-input-group__prepend{background: none;border: none}
.headerNav_search .el-input__inner{border-left: none;padding-left: 0}
.headerNav_searchCont .el-input__inner{height: 38px;border-left: none;}
.headerNav_searchCont .el-input__inner{padding-left:15px;border-radius: 5px;}
.headerNav_search .el-input.is-active .el-input__inner, .headerNav_search .el-input__inner:focus{border:1px solid #dcdfe6;padding-left:10px;}

.footerBottom_box{width:100%;height:80px!important;background: #333333;}
.footerBottom_container{height: 100%;}
.footerBottom_container .logoB{height: 28px;}
.footerBottom_container .logoB img{height: 100%;display:block;}
.footerBottom_container .copyright{font-size:12px;font-weight: bold;color:#898989;}
.footerBottom_container .outside{}
.footerBottom_container .outside .icon{width:30px;height: 30px;margin-left:10px;}

.breadcrumb_box{width:100%;padding:25px 0;}
.breadcrumb_box .title{font-size:18px;color:#3e3f42;font-weight: 600;}
.echarView_box{}
.echarView_box .item{width: 100%;height: 174px;border: 1px solid #eaedf3;padding:25px;margin-bottom:20px;background:#fff;}
.echarView_box .item .title{font-size:16px;color:#3e3f42;}
.echarView_box .echarData{width: 100%;height:36px;align-items: flex-end;margin-top: 12px;}
.echarView_box .echarData .big{font-size:30px;color:#3e3f42;line-height: 30px;}
.echarView_box .echarData .small{font-size:14px;color:#3bad4b;}
.echarView_box .echarView{width:100%;height:50px;position: relative;align-items: flex-end;}
.echarView_box .echarView .icon{width: 16px;height: 16px;}
.echarView_box .echarView .icon img{width: 100%;}
.echarView_box .echarView .echarView_view{width: 100%;height: 45px;}

.newBlock_box{width: 100%;margin-top:10px;}
.newBlock_box .newBlock_list:first-child{padding-right:10px;}
.newBlock_box .newBlock_list:last-child{padding-left:10px;}
.newBlock_box .title{font-size: 18px;color:#3e3f42;font-weight: 600;}
.newBlock_box .el-button{height:34px;padding:0 18px!important;border:1px solid #3e3f42;border-radius: 0;}
.newBlock_box .el-card__body{padding:0;}
.newBlock_table{width:100%;height: 580px;}

.pubTable_box{width:100%;height: 100%;position: relative;padding:62px 0 62px;}
/* .pubTable_table{width:100%;height: 330px;} */
.pubTable_theadAbso{position: absolute;top:62px;left:0;}
.pubTable_thead{width: 100%;height: 45px;}
.pubTable_thead .th{height: 45px;padding:12px 10px;border-bottom:1px solid #eaedf3;font-size: 12px;color:#9ea0a5;line-height: 18px;}
.pubTable_tbody{width:100%;height: 100%;overflow: auto;}
.pubTable_tbody table{width: 100%;margin-bottom: 30px;}
.pubTable_tbody .th{height: 45px;padding:12px 10px;border-bottom:1px solid #eaedf3;font-size: 12px;color:#9ea0a5;line-height: 18px;text-align: left;text-transform: Uppercase;}
.pubTable_tbody td{padding:12px 8px;border-bottom: 1px solid #eaedf3;vertical-align: middle;color: #3e3f42;font-size:12px;}
/* .pubTable_tbody td .blue{font-size: 12px;color:#1665d8;} */
/* .pubTable_tbody td .rowItem{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;} */
.pubTable_tbody .el-scrollbar__bar.is-vertical{width: 1px;}
.pubTable_tbody .el-scrollbar__bar.is-horizontal{height: 5px;}
.pubTable_tbody .el-scrollbar__thumb{background: #1665d8;}

.pubTable_tbody .el-scrollbar .el-scrollbar__wrap {overflow-x: hidden;}
.pubTable_tbody .el-tree>.el-tree-node{display:inline-block;}
.trans_style{font-size:12px;color:#3e3f42;white-space: nowrap;}
.trans_style .rowItem{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.trans_style .blue{font-size: 12px;color:#1665d8;}
.trans_style .greenBg{background: #3bad4b;color:#fff;font-size: 12px;padding:0 5px;}
.block_style .rowItem{background: linear-gradient(to left, #5b58ff, #38a9f6);color:#fff;text-align: center;padding: 2px 8px;}
.block_style .rowItem .big{font-size: 16px;}

.blocksDtil_box{width:100%;margin-top:20px;padding:25px 0;background:#fff;border: 1px solid #eaedf3;}
.blocksDtil_top{padding: 0 30px 25px;border-bottom: 1px solid #eaedf3;}
.blocksDtil_top .title{font-size:14px;font-weight: bold;color: #3e3f42;margin-right: 25px;}
.blocksDtil_top ul .icon{width: 18px;height: 18px;background: #1665d8;color:#fff;text-align: center;line-height: 18px;margin-right: 10px;cursor: pointer;}
.blocksDtil_table{padding:0 8px}
.blocksDtil_table .el-table .cell{font-size: 14px;}

.broadCast_box{width:100%;}
.broadCast_title{width: 100%;font-size: 14px;color: #666666;font-weight: bold;padding:36px 28px;border-bottom:1px solid #eeeeee;}
.broadCast_cont{width: 100%;padding:36px 28px;}
.broadCast_cont .title{font-size:14px;color:#666666;margin-bottom: 30px;}
.broadCast_cont .el-textarea__inner{background: #eaedf3;border: none;}
.broadCast_cont .info{font-size: 12px;color: #999999;margin-top: 20px;}
.broadCast_cont .btn-primary{height: 40px;background: #1665d8;color: #fff;border:none;padding:0 38px;margin:60px 0;}
.broadCast_tip{font-size: 12px;color:#9ea0a5;padding:40px 36px;border-bottom:1px solid #eee;}

.broadCast_formBox{padding: 0 15px;}
.broadCast_form{width: 100%;padding:15px 36px;border-bottom: 1px solid #eee;}
.broadCast_form .el-form-item__label, .broadCast_input .el-form-item__label{font-size: 14px;color:#3e3f42;width: 125px;white-space: nowrap;}
.broadCast_form .el-input__inner, .broadCast_input .el-input__inner{width: 125px;height: 18px;padding:0 8px;}
.broadCast_form .el-form-item, .broadCast_input .el-form-item{margin: 0;}
.broadCast_textarea{padding:28px 12px;border-bottom: 1px solid #eee;}
.broadCast_top .title{margin: 0;color: #3e3f42;}
.broadCast_top .btn-primary{margin: 0;padding:0 15px;height: 18px;}
.broadCast_textarea .gray{background:#999999;}
.broadCast_ul{width: 100%;}
.broadCast_ul li{margin-bottom: 25px;}
.broadCast_ul .p1{font-size: 12px;color:#333;font-weight: 600;}
.broadCast_ul .blue{color: #1665d8;padding-left: 15px;}
.broadCast_ul .el-input{width: 64px;margin-left: 15px;}
.broadCast_ul .el-input .el-input__inner{width: 100%;height: 18px;padding: 0 5px;}
.broadCast_input .el-form-item__label{width:180px;text-align:left;white-space: nowrap;}

.chartTitle_time{width: 100%;padding: 30px 36px;border-bottom: 1px solid #eee;margin-bottom: 25px;position: relative;}
.chartTitle_time .text{font-size: 12px;color: #3e3f42;}
.chartTitle_title{text-align: center;position: relative;}
.chartTitle_title .h3{font-size: 18px;color: #3e3f42;font-weight: bold;}
.chartTitle_title .h, .chartTitle_title .h5{font-size:14px;color:#333;}
.chartSet_box{position: absolute;top:0;right: 10%;}
.chartSet_box .el-dropdown-link{cursor: pointer;}
.chartSet_box .line{width: 16px;height: 3px;background:#5c5c5c;margin:2px 0;border-radius: 2px;}
.downloadCsv{width: 100%;padding:0 20px 30px;text-align: right;}
.downloadCsv .blue{color: #78b3eb;cursor: pointer;}

.chartView_box{width: 100%;padding: 84px 32px;}
.chartView_left .item{height: 36px;line-height: 36px;border-bottom:1px solid #dddddd;}
.chartView_left .bold{font-size: 14px;font-weight: bold;}
.chartView_left .blue{color:#3498db}
.chartView_right{width:100%;height: 100%;background: #f5f5f5;padding:20px 18px;}
.chartView_right .item{text-align: center;color:#555555;padding: 30px 15px;}
.chartView_right .big{font-size: 30px;}
.chartView_right .p{font-size: 14px;}
.supplyType_box{width: 100%;height: 270px;background: #fff;}

.iconCopy{width: 10px;height: 10px;}
.iconCopy img{max-width: 100%;max-height: 100%;}
.accountHeader_box{padding: 36px 16px;}
.accountHeader_item{width: 100%;border-bottom: 1px solid #eee;padding:6px 0;}
.accountHeader_item .p{font-size: 14px;color:#3e3f42;padding-left: 10px;}
.accountHeader_item .p1{width:40%;}
.accountHeader_item .p2{width:60%;}
.accountHeader_item .icon{width: 16px;height: 16px;margin-left: 10px;}
.accountHeader_item .imgIcon{width: 16px;height: 16px;margin-right: 5px;}
.qrCode_box .el-dialog__title{font-size:12px;color:#666;}
.accountInfo_tab{width: 100%;margin-top: 30px;}
.accountInfo_tab .el-tabs__header{border: none!important;}
.accountInfo_tab .el-tabs__nav{border: none!important;}
.accountInfo_tab .el-tabs__item{border: none!important;padding: 0!important;}
.accountInfo_tab .el-tabs__item .tab{width:150px;height:30px;line-height: 26px;margin-right: 5px;border: none!important;background: #e6e6e6;color:#3e3f42;border-radius: 5px;text-align: center;font-weight: bold;margin-bottom:10px;cursor:pointer;}
.accountInfo_tab .item .arrow{width:100%;position: absolute;bottom: -3px;left: 0;font-size: 20px;line-height: 20px;text-align: center;color:#3371d7;display: none;}
.accountInfo_tab .is-active .tab{background: #3371d7;color: #fff;}
.accountInfo_tab .is-active .arrow{display: block;}

.appBox{min-height: 100%;min-height: 100vh;position: relative;padding-bottom:100px}
.appBox .el-container .footerBottom_box{position: absolute;bottom:0;left:0;}

/* .WHITE{background:#fbfbfd}
.WHITE .pubBg_white{background: #ffffff}
.WHITE .pubBg_blue{background: #1665d8}
.WHITE .pubBg_gray{background: #999999}
.WHITE .pubBg_green{background: #3bad4b}

.WHITE .pubFont_white{background: #ffffff}
.WHITE .pubFont_blue{background: #1665d8}
.WHITE .pubFont_gray{background: #999999}
.WHITE .pubFont_green{background: #3bad4b} */

.DARK
  ,.DARK .broadCast_cont .el-textarea__inner
  ,.DARK .broadCast_form .el-input__inner
  ,.DARK .broadCast_input .el-input__inner
  ,.DARK .broadCast_ul .el-input .el-input__inner
  ,.DARK .headerNav_search .el-input__inner
  ,.DARK .pageView_select .el-select .el-input__inner
  ,.DARK .el-dropdown-menu
  ,.DARK .navSet_item .el-collapse-item
  ,.DARK .navSet_item .el-collapse-item__header
{background:#01263f}

.DARK .pubBg_white
  ,.DARK .bgbox
  ,.DARK .blocksDtil_box
  ,.DARK .el-table
  ,.DARK .el-table th
  ,.DARK .el-table tr
  ,.DARK .pageView_btn .active
  ,.DARK .el-collapse-item__wrap
  ,.DARK .navSet_item .navSet_list
  ,.DARK .el-dropdown-menu__item:focus
  ,.DARK .el-dropdown-menu__item:not(.is-disabled):hover
{background: #012137}

.DARK .el-menu--horizontal .el-menu .el-menu-item{background: #012137!important}

.DARK .echarView_box .item
  ,.DARK .el-card
  ,.DARK .el-card__header
  ,.DARK .pubTable_tbody td
  ,.DARK .bgbox
  ,.DARK .blocksDtil_box
  ,.DARK .broadCast_cont .el-textarea__inner
  ,.DARK .broadCast_form .el-input__inner
  ,.DARK .broadCast_input .el-input__inner
  ,.DARK .broadCast_ul .el-input .el-input__inner
  ,.DARK .headerNav_search .el-input__inner
  ,.DARK .headerNav_search .el-input-group__prepend
  ,.DARK .pageView_select .el-select .el-input__inner
  ,.DARK .pageView_btn li
  ,.DARK .accountHeader_item
  ,.DARK .el-dropdown-menu
{border:1px solid #013558}

.DARK .broadCast_title
  ,.DARK .broadCast_tip
  ,.DARK .broadCast_form
  ,.DARK .broadCast_textarea
  ,.DARK .chartTitle_time
  ,.DARK .el-table td
  ,.DARK .el-table th.is-leaf
  ,.DARK .blocksDtil_top
  ,.DARK .pubTable_tbody .th
  ,.DARK .pageView_top
  ,.DARK .topHeader_title
  ,.DARK .navSet_item .navSet_list li
  ,.DARK .el-collapse
  ,.DARK .el-collapse-item__header
  ,.DARK .el-collapse-item__wrap
{border-bottom:1px solid #013558}

.DARK .el-collapse
{border-top:1px solid #013558}


.DARK .itemNav
  ,.DARK .pageView_box .title
  ,.DARK .breadcrumb_box .title
  ,.DARK .el-breadcrumb__inner a
  ,.DARK .el-breadcrumb__inner.is-link
  ,.DARK .accountHeader_item .p
  ,.DARK .topHeader_title .title
  ,.DARK .pageView_select
  ,.DARK .blocksDtil_top .title
  ,.DARK .navSet_item .el-collapse-item__header
{color:#617782;}

.DARK .pageView_btn li {color:#9ea0a5}
/* .DARK .pageView_btn .active {} */

.DARK .headerNav_box{border-bottom:none;}

.DARK .headerNav_searchCont
{background:#2472a6;}

.DARK .headerNav_searchCont .el-input__inner{background:#01263f;border:none;}

.DARK .echarView_box .item .title
  ,.DARK .pubTable_tbody td
  ,.DARK .trans_style
  ,.DARK .newBlock_box .title
  ,.DARK .el-table td
  ,.DARK .el-table th.is-leaf
{color:#617782;}

.DARK .echarView_box .echarData .big{color:#3498db}
.DARK .echarView_box .echarData .small{color:#3498db}
.DARK .block_style .rowItem
  ,.DARK .trans_style .greenBg
{background:none;border:1px solid #3498db;color:#3498db;}

.DARK .newBlock_box .el-button{color:#617782;border:1px solid #013558;}

.DARK .broadCast_textarea .gray
  ,.DARK .accountInfo_tab .el-tabs__item .tab
{background:#01263f}

.DARK .accountInfo_tab .el-tabs__item .tab{border:1px solid #2472a6!important;color:#999}

.DARK .broadCast_cont .btn-primary
  ,.DARK .accountInfo_tab .is-active .tab
{background:#2472a6;color:#999}

.DARK .broadCast_textarea .gray
{background:#01263f;color:#999}


@media (max-width: 992px) {
  .newBlock_box .newBlock_list:first-child{padding-right: 0}
  .newBlock_box .newBlock_list:last-child{padding-left: 0;margin-top: 20px;}
}